<header class="header">
    <div class="navbar-title">
        <h1><a href="{{ site.url }}">{{ site.title }}</a></h1>
    </div>
    <div class="navbar-container">
        <nav class="navbar">
            <ul class="links">
                <li><a href="{{ site.url }}">Home</a></li>
                <li><a href='{{ "/news" | prepend: site.baseurl}}'>News</a></li>
                {% for page in site.pages %} 
                {% if page.title %}
                <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
                {% endif %} 
                {% endfor %}
            </ul>
        </nav>
    </div>   
</header>