<head>
    <meta charset="utf-8" />
    <meta name="author" content="SIAM IIT" />
    <meta name="description" content="Website of Illinois Tech's student 
    chapter of the Society for Industrial and Applied Mathematics (SIAM)."/>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>
        {% if page.title %}
            {{ page.title }}
        {% else %}
            {{ site.title }}
        {% endif %}
    </title>

    <link rel="stylesheet" href='{{ "/css/main.css" | prepend: site.baseurl }}'>
    <link 
        rel="canonical"
        href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"
    />
    <link
        href="https://fonts.googleapis.com/css?family=Roboto"
        rel="stylesheet"
        type="text/css"
    />
    <link
        href="https://fonts.googleapis.com/css?family=Libre Franklin"
        rel="stylesheet"
        type="text/css"
    />
    <link
        href="https://fonts.googleapis.com/css?family=IBM Plex Mono"
        rel="stylesheet"
        type="text/css"
    />

</head>