$background: #1E1F21;
$main-color: #CC0000;
$secondary-color: #CC0000;
$accent-color: #FF9900;
$title-color: $main-color;
$content-width: 800px;
$font-style: 'Libre Franklin', sans-serif;
$font-color: #FFFFFF;
$link-color: $main-color;
$link-hover-color: $accent-color;
$heading-font: 'IBM Plex Mono', monospace;
$navbar-font: 'Libre Franklin', sans-serif;
$heading-font-color: $title-color;
$header-height: 150px;
$code-font-family: "IBM Plex Mono", monospace !default;
$code-font-weight: 300;
$code-font-size:   90%;
$code-line-height: 1.4;
$profile-size: 300px;


*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}