body {
    background-color: $background;
    margin: 0;
    color: $font-color;
    font-family: $font-style;
    font-size: 1.1em;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
  }
  h1,
  h2,
  h3 {
    font-weight: 700;
    font-family: $heading-font;
    line-height: 1.5;
  }
  h1 {
    font-size: 2em;
    color: $title-color;
    margin: 0;
    a,
    a:visited,
    a:hover {
      text-decoration: none;
      color: $title-color;
    }
  }
  h2 {
    font-size: 1.5em;
    color: $font-color;
  }
  h3 {
    font-size: 1em;
    color: $font-color;
  }
  header {
    background: $background;
    padding: 0px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 0px;
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: medium solid white;

    @media screen and (max-width: 799px) {
      flex-direction: column;
    }


    .title {
      font-size: xx-large;
    }

    .navbar-title {
      display: flex;
      width: 100%;

      @media screen and (max-width: 799px) {
        justify-content: center;
      }
    }

    .navbar-container {
      display: flex;
      width: 100%;
      margin-top: 15px;
      justify-content: end;

      @media screen and (max-width: 799px) {
        margin-bottom: 5px;
      }

    }

    nav {
      @media screen and (max-width: 799px) {
        width: 100%;
      }
      ul {
        display: flex;
        list-style: none;
        align-items: center;
        margin: 0px;
        padding: 0px;

        @media screen and (max-width: 799px) {
          justify-content: space-around;
        }
        @media screen and (min-width: 800px) {
          justify-content: end;
        }


      }
      li {
        padding: 0 7px;
      }

      a {
        font-family: $navbar-font;
        display: inline-block;
        padding: 0 4px;
        text-decoration: none;
        color: $font-color;
      }
  
      a:hover {
        text-decoration: none;
        color: $accent-color;
      }
    }

  }
  main {
    padding: 0px 15px;
    max-width: $content-width;
    margin-bottom: 30px;

    a,
    a:visited {
      color: $link-color;
      text-decoration: underline;
    }
    a:hover {
      color: $link-hover-color;
      text-decoration: underline;
    }
  }

  .photo-container {
    display: flex;
    max-width: 100%;
    overflow: hidden;
    border-radius: 50%;
    justify-content: center; 

    @media screen and (max-width: 799px) {
      margin-top: 30px;
    }
    @media screen and (min-width: 800px) {
      float: right;
      margin-left: 15px;
    }
  }

  #profile {
    display: inline;
    object-fit: cover;
    border-radius: 50%;
    width: $profile-size;
    height: $profile-size;
  }

  .about p {
    text-align: justify;
  }

  pre, code {
    width: 100%;
    font-family: $code-font-family;
    font-size: $code-font-size;
    font-weight: $code-font-weight;
    line-height: $code-line-height;
  }
  pre {
    padding: 10px;
  }

  time {
    color: #898989;
  }
  .container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    max-width: $content-width;
    margin: 0 auto;
  }
  
  footer {
    font-family: $font-style;
    text-align: baseline;
    margin: 0 15px;
    padding: 10px 0;
    margin-top: auto;
    border-top: medium solid white;

    a,
    a:visited {
      color: $link-color;
      text-decoration: underline;
    }
    a:hover {
      color: $link-hover-color;
      text-decoration: underline;
    }

    @media screen and (max-width: 800px) {
      text-align: center;
    }
  }